<p id="notice"><%= notice %></p>

<p>
  <strong>(job name:</strong>
  <%= @job.job_name %>
</p>

<p>
  <strong>Job due date:</strong>
  <%= @job.due_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
